.userMessages {
  background-color: green;
  max-width: 400px;
  list-style: none;
  margin: 5px;
  margin-left: 200px;
  width: 300px;
  min-width: 300px;
}

.otherMessages {
  background-color: grey;
  max-width: 400px;
  list-style: none;
  margin: 5px;
  margin-right: 200px;
}

.allMessages {
  display: flex;
  flex-direction: column;
}
